<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthUpdateUsageDescription</key>
	<string>건강 정보 업데이트 때문에 앱에 대한 권한 요청을 합니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>건강 정보 공유 때문에 앱에 대한 권한을 요청합니다.</string>
</dict>
</plist>
